

/* page.module.css */



.description {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 30px;

}

.titlefirst {
  font-size: 35px;
  font-weight: bold;
  color: blue;


}
.titleSecond {
  font-size: 35px;
  font-weight: bold;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_item {
  margin: 0.5rem 0;
}

.inputRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.row {
  display: flex;
  margin-bottom: 0.5rem;
}


.inputBox {
  width: 2rem;
  color: var(--input-text-color);
  margin: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
 
  border-radius: 4px;
}


.space {
  width: 2rem;
  height: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #005bb5;
}

.correct {
  color: green;
  font-size: 1.3rem;
  text-align: center;
}

.incorrect {
  color: red;
  font-size: 1.3rem;
  text-align: center;
}



.green {
  background-color: green;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.image {
  display: block;
  margin: 0 auto; 
  max-width: 100%; 
  height: auto;
  object-fit: cover; 
  border-radius: 8px;
  filter: brightness(1.1) contrast(1.0); 
  transform: scale(1.1); 
  margin-top: 30px
}


/* .ratingSelection p {
  text-align: center;
} */

/* .ratingSelection button {
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  
} */

.buttonContainer {
  display: flex;
  gap: 5px;
}

.hintsContainer {
  margin-top: 10px;
  border: 1px solid white;
  padding: 25px;
  border-radius: 5px;
}



.hintsContent {
  margin-top: 10px;
}

.hintItem {
  margin-bottom: 5px;
}

.logo {
  margin-left: 20px;
}

.jersey {
  margin-bottom: 5px;
  color: red
}

.team {
  margin-bottom: 5px;
  color: red

}

/* to make it mobile friendly */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .description {
    flex-direction: row;
  }

  .titlefirst, .titleSecond {
    font-size: 2.5rem;
  }

  .button {
    width: auto;
  }
}

@media (max-width: 700px) {
  .description {
    flex-direction: column;
    margin-top: 20px;
  }

  .name {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin: 10px 0;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .inputBox {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8rem;
    margin: 0.05rem;
  }

  .space {
    width: 1.2rem;
    height: 1.2rem;
  }

  .hintsContainer {
    padding: 15px;
  }

  .hintsContent {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
/* popup */
.popup {

  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.popupContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* changing logo */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}